<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
		<title>Exercise Tracker</title>
		<meta name="description" content="">
		<meta name="author" content="Piotr Mularski">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--[if lt IE 9]>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
		<![endif]-->
		<link rel="stylesheet" href="style.css">
		<link rel="shortcut icon" href="">
	</head>
<body>
	<main>
		<h1>Exercise tracker</h1>
		<form class="username__form" action="/api/exercise/new-user" method="POST">
			<input class="username__input" name="username" placeholder="Your Username" type="text" required>
			<button class="username__button" type="submit">Create user</button>
		</form>

		<form class="exercise__form" action="/api/exercise/add" method="POST">
			<input class="exercise__input" name="userID" placeholder="userID*" type="text" required>
			<input class="exercise__input" name="description" placeholder="description*" type="text" required>
			<input class="exercise__input" name="duration" placeholder="duration* (mins)" type="text" required>
			<input class="exercise__input" name="date" placeholder="date* (yyyy-mm-dd)" type="text">
			<button class="exercise__button" type="submit">Create Exercise</button>
		</form>

		<form action="/api/exercise/log" method="GET">
			<input type="text" name="userid" placeholder="userID" required="required">
			<input type="date" name="from" palceholder="from">
			<input type="date" name="to" placeholder="to">
			<input type="number" name="limit" placeholder="limit">
			<button type="submit">Get exercise log</button>
		</form>
	</main>
</body>
</html>